/* Fair Choice, (c) 2017 SPISE MISU ApS, opensource.org/licenses/AGPL-3.0

   Derived from elm-lang.org:
   (c) 2012-2015 Evan Czaplicki, opensource.org/licenses/BSD-3-Clause
*/

html, head, body {
  margin: 0;
  height: 100%;
}
 
body {
  font-family: ProzaLibreRegular, arial;
  background-color: #000;
  color: #0f0;
}

h1, h2, h3, h4 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: normal;
}

p {
  line-height: 1.5em;
}

a {
  color: #7F9718;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* CONTENT */

.content li {
  margin-bottom: 6px;
}

.content img {
  width: 100%;
  height: 100%;
}


/* HOME STUFF */

.home-section h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 0;
}

.home-paragraph {
  display: block;
  margin: 20px auto;
  max-width: 640px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 640px) {
  .home-paragraph {
    text-align: center;
  }
}


/* FEATURES */

.features {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.features li {
  list-style-type: none;
}

@media (max-width: 820px) {
  .feature {
    margin: 4em 0;
  }
  .feature-description h2 {
    text-align: center;
  }
  .feature-description {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .feature-image {
    max-width: 420px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 820px) {
  .features {
    max-width: 800px;
  }
  .feature {
    position: relative;
    margin-top: 1em;
    margin-bottom: 4em;
  }
  .feature-description {
    max-width: 340px;
  }
  .feature-image {
    position: absolute;
    top: 0;
    right: 0;
  }
}


/* EXAMPLES */

.examples li {
  margin-bottom: 4px;
}

.examples li ul {
  margin-top: 6px;
  margin-bottom: 20px;
  padding-left: 1em;
}

.examples li li {
  list-style-type: none;
}


/* TOP BAR */

#tabs {
  padding: 1em;
  background-color: #0f0;
}

#tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#tabs li {
  display: inline-block;
}

.tab {
  text-decoration: none;
  color: black;
  padding-bottom: 13px;
  margin: 0 1em;
  font-size: 19px;
}

.tab:hover,
.tab.current {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid black;
}

@media (max-width: 640px) {
  .tab {
    font-size: 15px;
    margin: 0 0.5em;
  }
  .content {
    margin: 0 0.5em !important;
  }
}


/* SPLASH */

.splash {
  padding: 1em;
  background-color: #7F9718;
  color: black;
  text-align: center;
}

.get-started a {
  background-color: black;
  border-radius: 6px;
  min-width: 120px;
  padding: 12px 12px;
  margin: 12px;
  display: inline-block;
  color: #0f0;
  font-size: 1.5em;
}

.get-started a:hover {
  background-color: #0f0;
  color: black;
  text-decoration: none;
}

.get-started label {
  background-color: black;
  border-radius: 6px;
  min-width: 120px;
  padding: 12px 12px;
  margin: 12px;

  display: inline-block;
  color: #0f0;
  font-size: 1.5em;
  
  cursor: pointer;
}

.get-started label:hover {
  background-color: #0f0;
  color: black;
  text-decoration: none;
  
  cursor: pointer;
}

/* CODE */

code {
  font-family: Courier, monospace;
}

/* I heard using :not() is slow for reflows.
Not really any of those on the website though AFAIK.
*/
:not(pre) > code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

:not(pre) > code::before, :not(pre) > code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

pre > code {
  display: block;
  overflow-x: auto;
  
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 6px 6px;
}


/* BLOGS */

.author {
  padding-top: 1em;
  color: #ddd;
  display: block;
  max-width: 640px;
  margin: 0 auto;
  padding-right: 10px;
  text-align: right;
}

.author a {
  color: #ddd;
  text-decoration: underline;
}


/* NOTES */

blockquote {
  display: block;
  overflow-x: auto;
  padding: 0 1em;
  border: 1px solid #0f0;
  border-radius: 6px;
  background-color: #000;
  color: #0f0;
}

blockquote p {
  font-size: 14px;
}


/* COMPARISON TABLE */

.comparison table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.comparison {
  background: #fff;
  overflow: hidden;
  border: 1px solid #8C8C8C;
  border-radius: 3px;
}
.comparison table td, .comparison table th {
  padding: 5px 10px;
}
.comparison th {
  color: white;
  font-weight: normal;
  background: #22809A;
}
.comparison tr:nth-child(odd) {
  background: #f0f0f0;
}


/* RELEASE NOTES TABLE */

.releases {
  border-collapse: collapse;
  width: 100%;
}

.releases td {
  padding: 5px 10px;
}


/* FOOTER */

.footer {
  text-align: center;
  margin-top: 6em;
  border-top: 1px solid #0f0;
  padding: 1em 0;

  color: #000;
  
  background-color: #0f0;
}


/* TODO: Rename grey to something */

.grey-link {
  color: #7F9718;
  text-decoration: none;
}

.grey-link:hover {
  text-decoration: underline;
}


/* iFRAMES */

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; /* assuming 16/9 aspect ratio */
  max-width: 800px;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/* PAGE */

/* see: /home/mon/tmp/flex/elm-flex */

.page-section h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 0;
}

.page-paragraph {
  display: block;
  margin: 20px auto;
  max-width: 640px;
  padding-left: 20px;
  padding-right: 20px;
}

input[type="file"] {
    display: none;
}

.page-button a {
  background-color: black;
  border-radius: 6px;
  min-width: 90px;
  padding: 3px 3px;
  margin: 12px;
  
  display: inline-block;
  color: #0f0;
  font-size: 1.0em;

  cursor: pointer;
}

.page-button a:hover {
  background-color: #0f0;
  color: black;
  text-decoration: none;

  cursor: pointer;
}

.page-button label {
  background-color: black;
  border-radius: 6px;
  min-width: 90px;
  padding: 3px 3px;
  margin: 12px;
  
  display: inline-block;
  color: #0f0;
  font-size: 1.0em;

  cursor: pointer;
}

.page-button label:hover {
  background-color: #0f0;
  color: black;
  text-decoration: none;

  cursor: pointer;
}

.page-table {
  border-collapse: collapse;
  max-width: 640px;
  width: 100%;
  font-family: Courier, monospace;
}

.page-table td {
    /* border: 0.5px solid #0f0; */
    padding: 0px 5px;
}

.page-table tr:nth-child(odd) td{
    font-weight: bold;
}
.page-table tr:nth-child(even) td{
    font-size: 0.75em;
}

input[type="file"] {
    display: none;
}

.page-form * {
    display: block;
    
    background-color: #000;
    font-family: ProzaLibreRegular, Arial;
    color: #0f0;
    
    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: 12px;
    margin-right: 1px;
    border: 0.5px solid #0f0; 
}

.page-form strong {
    border: 0px;
}

.page-form label {
    border: 0px;
}

.page-form i {
    display: inline;

    border: 0px;
    margin: 0px;

    color: #7F9718;
}

.page-form button {
    margin: 0px;
    
    font-family: Courier, monospace;
    font-weight: bold;
    
    background-color: #000;
    color: #0f0;

    cursor: pointer;

    border-radius: 3px;
    margin: 3px;
}

.page-form button:hover {
    margin: 0px;
    
    font-family: Courier, monospace;
    font-weight: bold;
    
    background-color: #0f0;
    color: #000;
    text-decoration: none;

    cursor: pointer;
    
    border-radius: 3px;
    margin: 3px;
}

.page-form input {
    font-family: Courier, monospace;
}

.page-form textarea {
    font-family: Courier, monospace;
}

@media (min-width: 640px) {
  .page-section h3 {
      text-align: center;
  }
}

@media (min-width: 640px) {
  .page-section h4 {
      text-align: center;
  }
}
